stages:
  - build
  - test
  - deploy

variables:
  IMAGE: "${REGISTRY_URL}/${IMAGE_NAME}"
  REGISTRY_URL: "registry.stackops.ir"
  #IMAGE_NAME: "miladsaadati/producer"

build:
  stage: build
  image: docker:23.0.1
  services:
    - docker:23.0.1-dind

  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$REGISTRY_URL"
  script:
    - cd reza_saadati/producer
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}"

# testing ci pipeline