stages:
  - build-dev
  - test
  - deploy-dev
  - build-prod
  - deploy-prod

variables:
  IMAGE: "${REGISTRY_URL}/${IMAGE_NAME}"
  REGISTRY_URL: "registry.stackops.ir"
  #IMAGE_NAME: "miladsaadati/producer"

build-dev:
  stage: build-dev
  image: docker:23.0.1
  services:
    - docker:23.0.1-dind

  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$REGISTRY_URL"
    - echo "$CI_REGISTRY_PASSWORD"
    - echo "$CI_REGISTRY_USER"
  script:
    - cd reza_saadati/producer
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}"

test-trigger:
  stage: test
  # script:
  #   - echo "Triggering child pipeline for tests..."
  trigger:
    include: reza_saadati/tests.yml
  # rules:
  #   - if: $CI_PIPELINE_SOURCE

deploy-dev:
  stage: deploy-dev
  image: dtzar/helm-kubectl:latest
  script:
    - mkdir -p $HOME/.kube
    - chmod 700 $HOME/.kube
    - echo "$KUBE_CONFIG_DATA" | base64 -d > $HOME/.kube/config
    - sed -i 's/latest/'"$CI_COMMIT_SHORT_SHA"'/g' reza_saadati/k8s/dev/deployment.yml
    #- kubectl config set-cluster k8s --server
    - kubectl apply -n dev -f reza_saadati/k8s/dev/deployment.yml
  only: 
   - develop





build-prod:
  stage: build-prod
  image: docker:23.0.1
  services:
    - docker:23.0.1-dind

  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$REGISTRY_URL"
    - echo "$CI_REGISTRY_PASSWORD"
    - echo "$CI_REGISTRY_USER"
  script:
    - cd reza_saadati/producer
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"\
  only: 
   - tags
   - master

deploy-prod:
  stage: deploy-prod
  image: dtzar/helm-kubectl:latest
  script:
    - mkdir -p $HOME/.kube
    - chmod 700 $HOME/.kube
    - echo "$KUBE_CONFIG_DATA" | base64 -d > $HOME/.kube/config
    - sed -i 's/latest/'"$CI_COMMIT_TAG"'/g' reza_saadati/k8s/prod/deployment.yml
    #- kubectl config set-cluster k8s --server
    - kubectl apply -n prod --validate=false -f reza_saadati/k8s/prod/deployment.yml
  only: 
   - tags
  when: manual
