variables:
  IMAGE_NAME: hamidesmb/todo_app
  IMAGE_TAG: latest



stages:
  - test
  - build
  - deploy


test:child:
  stage: test
  trigger:
    include: ci/test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE
      when: always



# Use this stage for build(DOCKER_USERNAME and DOCKER_PASS are imported variables from gitlab ci/cd variables)
build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASS
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
    - |
      if [ "$CI_COMMIT_BRANCH" = "dev" ]; then
        docker tag $IMAGE:$TAG $IMAGE:dev
        docker push $IMAGE:dev
      fi
      echo "MAIN_IMAGE=$IMAGE_NAME:$IMAGE_TAG" >> build.env
  artifacts:
    expire_in: 1h
    reports:
      dotenv: build.env




# Or use this stage for build(by push_image.sh)
# build:
#   stage: build
#   image: docker:20.10.16
#   services:
#     - docker:20.10.16-dind
#   variables:
#     DOCKER_TLS_CERTDIR: "/certs"
#   before_script:
#     - apk add --no-cache curl jq bash
#     - sed -i 's/\r$//' ./push_image.sh
#     - chmod +x ./push_image.sh
#     - cat ./push_image.sh | head -n 1  
#   script:
#     - docker build -t $IMAGE_NAME:$IMAGE_TAG .
#     - bash ./push_image.sh



deploy-dev:
  image: alpine:3.18
  stage: deploy
  rules:
    - when: on_success 
  before_script:
    - apk add --no-cache bash curl ca-certificates
    - KUBECTL_VER=$(curl -sSL https://dl.k8s.io/release/stable.txt | tr -d '\n')
    - curl -fsSLO "https://dl.k8s.io/release/${KUBECTL_VER}/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - kubectl version --client

    - mkdir -p "$CI_PROJECT_DIR/.kube"
    - echo "$KUBECONFIG_DATA" | base64 -d > "$CI_PROJECT_DIR/.kube/config"
    - export KUBECONFIG="$CI_PROJECT_DIR/.kube/config"
    - kubectl config view --minify

  script:
    - echo "✅ Ensure namespace exists"
    - kubectl get namespace django-todo-app >/dev/null 2>&1 || kubectl apply -f k8s/namespace.yaml
    - echo "✅ Ensure image pull secret exists"
    - |
      if kubectl get secret todo-app-secret -n django-todo-app >/dev/null 2>&1; then
        echo "Secret already exists"
      else
        kubectl create secret docker-registry todo-app-secret \
          --docker-server=https://index.docker.io/v1/ \
          --docker-username="$DOCKER_USERNAME" \
          --docker-password="$DOCKER_PASS" \
          --docker-email="$DOCKER_EMAIL" -n django-todo-app
      fi
    - echo "✅ Apply configmap and service"
    - kubectl apply -f k8s/configmap.yaml -n django-todo-app || true
    - kubectl apply -f k8s/service.yaml -n django-todo-app || true
    - echo "✅ Deploy/update application"
    - |
      if kubectl get deployment django-app -n django-todo-app >/dev/null 2>&1; then
        kubectl set image deployment/django-app todo-container=$IMAGE_NAME:$IMAGE_TAG -n django-todo-app
        kubectl rollout status deployment/django-app -n django-todo-app
      else
        kubectl apply -f k8s/deployment.yaml -n django-todo-app
      fi
    - kubectl apply -f k8s/ingress.yaml -n django-todo-app || true

  environment:
    name: dev
    url: http://django.local
  when: on_success



