stages:
  - build
  - test
  - deploy

variables:
  IMAGE: "${REGISTRY_URL}/${IMAGE_NAME}"

build:
  stage: build
  image: docker:23.0.1
  services:
    - docker:23.0.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$REGISTRY_URL"
  script:
    - docker build -t "$IMAGE:${CI_COMMIT_SHORT_SHA}" .
    - docker push "$IMAGE:${CI_COMMIT_SHORT_SHA}"

